@import url("https://fonts.googleapis.com/css2?family=Muli&family=Overpass&family=Playfair+Display:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

.navigation-bar {
  background-color: #222220;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.logo {
  color: whitesmoke;
  cursor: pointer;
}

.logo-decoration {
  color: aquamarine;
}

.logo a {
  color: whitesmoke;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: inline-flex;
  font-family: "Overpass", sans-serif;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
}

.nav-links a:hover {
  color: aquamarine;
}

.menu-btn {
  display: none;
}

.nav-links_mobile {
  display: none;
  font-family: 'Overpass', sans-serif;
}

.Home {
  background-image: url(../img/meeting-on-shared-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Home_caption {
  height: 100vh;
  text-align: center;
  padding-top: 11rem;
  color: whitesmoke;
}

.Home_caption h1 {
  font-size: 120px;
  letter-spacing: 6px;
  font-family: "Playfair Display", serif;
}

.Home_caption h5 {
  letter-spacing: 6px;
  word-spacing: 10px;
  margin-top: 1rem;
  font-family: "Muli", sans-serif;
}

.Home_caption a {
  display: inline-block;
  margin-top: 3rem;
  padding: 0.5rem;
  background-color: #21b6b6;
  border: none;
  color: whitesmoke;
  text-decoration: none;
}
